.features {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-color: var(--light-main);

  .container {
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 2;

      h2 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
        color: var(--black);

        .highlight {
          color: var(--secondary-color);
          font-weight: 300;
        }
      }

      .item {
        .title {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 24px;
            height: 24px;
          }
        }
        p {
          color: rgb(157, 157, 157);
          font-size: 12px;
        }
      }
    }

    .right {
      flex: 3;
      video {
        width: 100%;
      }
    }
  }
}
